.passwordcheck {
  border: 2px solid #c4c4c4;
  margin-top: 88px;
}

.userinfo {
  &-wrapper {
    position: relative;
  }
}

.login-feedback {
  position: absolute;
  margin: 0;
  bottom: -30px;
  left: 16px;
  font-weight: 500;
  color: #ff9162;
  font-size: 14px;
}
