.myaccount {
  position: relative;
  // display: flex;
  background-color: #f3efea;
  // flex-direction: column;
  // align-items: center;
  height: 100vh;
  &-back {
    position: absolute;
    top: 54px;
    left: 24px;
  }
  &-header {
    text-align: center;
    margin-top: 54px;
    font-size: 18px;
    font-weight: 500;
    color: #3e382f;
  }
}

.coupon {
  &-backdrop {
    height: 100vh;
  }
  &-headline {
    margin: 20px;
    span {
      color: #b0a69d;
    }
  }
  &-flexwrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-count {
    margin: 38px 0 2px 0;
    color: #3e382f;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
  }
  &-regist {
    background-color: #4d483d;
    position: absolute;
    z-index: 0;
    bottom: 0;
    border: none;
    width: 100vw;
    height: 10vh;
    text-align: center;
    line-height: 10vh;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
  }
  &-nocoupon {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-title {
      color: #4d483d;
      font-size: 24px;
      font-weight: 700;
      line-height: 30.05px;
      margin-top: 18px;
    }
    &-p {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      color: #b0a69d;
    }
  }
  &-item {
    margin-top: 38px;
    width: 85vw;
    padding: 15px;
    border: 2px solid #e8e2dc;
    background-color: #fffbf6;
    border-radius: 5px;
    &-header {
      margin-top: 8px;
      color: #ad9e87;
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
    }
    &-name {
      margin: 3px 0 11px 0;
    }
    &-condition {
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
      color: #ad9e87;
    }
    &-date {
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
      color: #ad9e87;
    }
  }
}
