.account {
  &-title {
    display: flex;
    justify-content: space-between;
    color: #3e382f;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 39px;
  }
  &-item {
    display: flex;
    justify-content: space-between;
    margin: 22px;
    &.first{
      margin-top: 64px;
    }
    &.last {
      margin-bottom: 0;
      h2 {
        margin-bottom: 0;
      }
    }
    &-p {
      margin: 0 0 0 22px;
      color: #ad9e87;
      font-size: 12px;
      font-weight: 500;
    }
    &-name {
      color: #6e614d;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
    }
  }

  &-profile {
    text-align: center;
    &-image {
      position: relative;
      width: 100vw;
      height: 100vw;
      z-index: -1;
    }
    &-info {
      background-color: red;
      display: flex;
      z-index: 10;
      margin-top: -50px;
      flex-direction: column;
      background: #fffbf6;
      border-radius: 15px 15px 0px 0px;
      padding: 40px 54px;
      justify-content: space-between;
      &-first{
        display: flex;
      }
      &-second{
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
      }
      &-name{
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
      }
      &-age{
        margin-left: 5px;
        margin-right: 8px;
        font-size: 18px;
        font-weight: 700;
        line-height: 36px;
        text-align: end;
      }

      &-column {
        margin: 0;
        color: #b0a69d;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
      }
      &-value {
        margin: 9px 0 0 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: #3e382f;
      }
      
    }
  }
  &-purchase {
    border-bottom: solid #e8e2dc 5px;
    &-reservation {
      &-box {
        padding: 19px;
        margin: 22px 20px;
        background-color: #fffbf6;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-wrapper {
          &-title {
            margin: 0;
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
          }
          &-room {
            margin: 0;
            font-size: 12px;
            line-height: 150%;
            font-weight: 500;
            color: #b0a69d;
          }
          &-date {
            margin: 0;
            margin-top: 10px;
            font-size: 12px;
            line-height: 150%;
            font-weight: 500;
            color: #b0a69d;
          }
        }

        &-state {
          background-color: #ff9162;
          border-radius: 37px;
          width: 78px;
          height: 33px;
          padding: 3px 10px;
          border: none;
          color: #ffffff;
          font-weight: 700;
          font-size: 12px;
          line-height: 150%;
        }
      }
    }
  }
  &-out {
    margin-left: 22px;
    margin-top: 32px;
    color: #b0a69d;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    &:first-child {
      margin-top: 78px;
    }
    &:last-child {
      margin-bottom: 100px;
    }
  }
}
