.reservation {
  // padding: 10% 5% 0 5%;
  text-align: center;
  position: relative;
  color: #ffffff;
  img {
    width:90vw;
    margin: 5vw;
    border-radius: 5px;
  }
  &-place-name {
    position: absolute;
    left: 7%;
    top: 30%;
    font-weight: 700;
    font-size: 4.5vw;
    line-height: 18px;
    color: #ffffff;
  }
  &-deadline {
    position: absolute;
    right: 10%;
    top: 30%;
    font-weight: 600;
    font-size: 4.5vw;
    line-height: 18px;
    color: #ffffff;
  }
  &-date {
    position: absolute;
    left: 7%;
    top: 37%;
    font-weight: 400;
    font-size: 3vw;
    line-height: 18px;
    letter-spacing: 0.04em;
    color: #ffffff;
  }
  &-stay-time {
    display: flex;
    position: absolute;
    left: 7%;
    top: 44%;
    font-weight: 500;
    font-size: 3vw;
    color: #ffffff;
    .reservation-check-in {
      padding-right: 1.5em;
    }
  }
  &-information {
    font-weight: 400;
    font-size: 3vw;
    line-height: 18px;
    text-decoration-line: underline;
    &-address {
      position: absolute;
      left: 10%;
      bottom: 10%;
    }
    &-inquiry {
      position: absolute;
      left: 35%;
      bottom: 10%;
    }
    &-change {
      position: absolute;
      left: 55%;
      bottom: 10%;
    }
    &-cancel {
      position: absolute;
      left: 80%;
      bottom: 10%;
    }
  }
}

