.review{
    margin: 0 0 20px 5%;
    color: #3E382F;
    &-header{
        display: flex;
        img{
            border-radius: 50%;
            height:51px;
        }
        &-info{
            padding-left: 10px;
            &-nick-name{
                font-size: 16px;
                font-weight: bold;
                padding-bottom: 5px;
            }
            &-star-rating{
                width: 100%;
            }
            &-registration-date{
                padding-left: 10px;
                font-weight: bold;
                font-size: 12px;
            }
            &-room-used{
                font-size: 12px;
                padding: 0 0 10px 2px;
                color:#AD9E87;
            }
        }
    }
    &-content{
        margin-left: 70px;
        &-description{
            position: relative;
            color:#3E382F;
            font-size: 14px;
            font-weight: 300;
            padding-bottom: 25px;
            padding-right: 5%;
            &-more{
                position: absolute;
                font-size: 14px;
                font-weight: 500;
                color: #ff9162;
                white-space:nowrap;
            }
        }
        &-image-container{
            display: flex;
            overflow-x: scroll;
            img{
                padding-right: 10px;
            }
        }
    }
    .review-header-info-second-line{
        display: flex;
    }
}