.review{
    margin: 0 0 70px 5%;
    color: #3E382F;
    &-header{
        display: flex;
        &-info{
            padding-left: 3%;
            &-nick-name{
                font-weight: bold;
            }
            &-star-rating{
                width: 100%;
            }
            &-registration-data{
                 padding-left: 12px;
                font-weight: bold;
                font-size: 12px;
            }
            &-room-used{
                padding-bottom: 10%;
                font-size: 12px;
                color:#AD9E87;
            }
        }
    }
    &-content{
        &-description{
            position: relative;
            color:#3E382F;
            font-size: 14px;
            font-weight: 300;
            padding-bottom: 25px;
            padding-right: 5%;
            &-more{
                position: absolute;
                font-size: 14px;
                font-weight: 500;
                color: #ff9162;
                white-space:nowrap;
            }
        }
        &-image-container{
            display: flex;
            overflow-x: scroll;
            img{
                padding-right: 10px;
            }
        }
    }
}