.review{
    color: #3E382F;
    padding-bottom: 50px;
    &-header{
        display: flex;
        img{
            width: 55px;
            height:51px;
            object-fit: cover;
            border-radius: 100%;
            }
        &-info{
            padding-left: 10px;
            &-nick-name{
                font-size: 16px;
                font-weight: bold;
                padding-bottom: 5px;
            }
            &-registration-date{
                padding-left: 10px;
                font-weight: bold;
                font-size: 12px;
            }
            &-room-used{
                font-size: 12px;
                padding: 0 0 10px 2px;
                color:#AD9E87;
                font-weight: 500;
            }
        }
    }
    &-content{
        margin-left: 70px;
        &-description{
            position: relative;
            color:#3E382F;
            font-size: 14px;
            font-weight: 400;
            padding-bottom: 25px;
            &-more{
                position: absolute;
                font-size: 14px;
                font-weight: 500;
                color: #ff9162;
                white-space:nowrap;
            }
        }
        &-image-container{
            display: flex;
            overflow-x: scroll;
            img{
                background-color: rgb(255, 255, 255);
                border: 1px solid #ececec;
                margin: 0 5px;
                object-fit: contain;
                text-align: center;
                width:150px;
                height:150px;
                margin-right: 10px;
            }
        }
    }
    .review-header-info-second-line{
        display: flex;
    }
}