.detail-place-room-type {
  z-index: 2;
  width: 100%;
  margin-bottom: 100px;
  color: #3e382f;
  background-color: #f3efea;
  &.close {
    display: none;
  }
  &-image-skeleton{
    height: 30vh;
  }
  &-main-image {
    width: 100%;
    height: 375px;
  }
  &-previous-page {
    position: absolute;
    top: 50px;
    left: 35px;
  }
  &-info {
    margin: 0 0 70px 5%;
    &-name {
      padding: 5% 0 2% 0;
      font-size: 20px;
      font-weight: bold;
    }
    &-accommodation {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      &-check-in-check-out {
        color: #8a8a8a;
      }
      &-price {
        font-size: 24px;
        font-weight: bold;
        margin: -3.5% 4% 0 0;
      }
    }
    &-facility {
      font-size: 18px;
      color: #6e614d;
    }
  }
  &-reservation-date-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 73px;
    background-color: #ffffff;
    color: #3e382f;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 100px 0;
    padding: 0 5%;
    border-radius: 5px;
    &-calender {
      margin-right: 15px;
    }
  }
  &-notice{
    padding: 0 5% 10px 5%;
    &-title {
      font-size: 18px;
      font-weight: 700;
      padding-bottom: 20px;
    }
    &-content {
      font-size: 12px;
      font-weight: 400;
      padding-bottom: 50px;
      line-height:18px
    }
  }
}
// .reservation-button{
//   position: "absolute";
//   // margin-top: 100px;
// }
