.reservationPage {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 150px;
    color: #3E382F;
  }
  .header {
    display: flex;
    position: relative;
    padding: 0;
    margin-top: 35px;
    justify-content: center;
  }
  .exit-button {
    position: absolute;
    left: 0;
  }
  .placeinfo {
    margin-top: 55px;
    &-wrapper {
      display: flex;
      justify-content: space-between;
    }
    &-name {
      color: #3e382f;
      font-size: 18px;
      line-height: 22.54px;
      font-weight: bold;
    }
    &-address {
      font-size: 14px;
      margin: 7px 0 0 0;
      color: #3e382f;
      font-weight: 400;
    }
    &-room {
      font-size: 14px;
      color: #3e382f;
      font-weight: 400;
      margin: 3px 0 0 0;
    }
  }
  .place-use-info{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    div{
      text-decoration-line: underline;
      font-weight: 500;
    }
  }
  .checkin-checkout {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  .checkin-checkout-date {
    background-color: #fffbf6;
    width: 49.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    &:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    &:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
  .check-title {
    color: #ff9162;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    margin-bottom: 8px;
  }
  .check-date {
    color: #3e382f;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
  }
  .reservation-info-header{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    &-label{
      color: #3E382F;
      font-weight: 700;
      font-size: 16px;
    }
    .reservation-number-copy{
      color: #B0A69D;
      font-weight: 500;
      font-size: 14px;
    }
  }
  .line-devide {
    width: 100%;
    height: 1px;
    background-color: #e8e2dc;
    margin: 70px 0 80px 0;
  }
  .reservation-title {
    color: #3e382f;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    // &.first {
    //   margin-top: 82px;
    //   margin-bottom: 0;
    // }
    &.second {
      margin-top: 30px;
      margin-bottom: 0;
    }
  }
  .reservation-label {
    color: #b0a69d;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
  }
  .reservation-info {
    margin: 27px 0;
    &-first-line{
      display: flex;
      justify-content: space-between;
      margin-bottom: 21px;
      &-number {
        color: #3e382f;
        font-size: 14px;
        line-height: 21px;
        font-weight: 500;
      }
      &-number-label {
        color: #b0a69d;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
      }
    }
    &-second-line{
      display: flex;
      justify-content: space-between;
      &-name{
        color: #3e382f;
        font-size: 14px;
        line-height: 21px;
        font-weight: 500;
      }
      &-name-label {
        color: #b0a69d;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
      }
    }

  }
  .original-price {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
    &-amount {
      font-size: 14px;
      font-weight: 700;
      line-height: 21px;
    }
  }
  .couponsale {
    display: flex;
    justify-content: space-between;
    &-amount {
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
      margin-bottom: 25px;
    }
  }
  .finalprice {
    margin-top: 33px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    &-price {
      font-size: 18px;
      font-weight: 700;
      line-height: 22.54px;
      color: #ff9162;
    }
  }
  .payment-methods {
    margin-top: 20px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    &-label{
      color: #b0a69d;
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
    }
    &-price {
      font-size: 14px;
      font-weight: 700;
      line-height: 22.54px;
      color: #3E382F;
    }
  }
  .view-policy{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 55px;
  }
  .cancel-reservation{
    &-label{
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      text-align: center;
      color: #FF9162;
      margin-bottom: 20px;
    }
    &-button{
      width: 335px;
      height: 56px;
      background: rgba(255, 145, 98, 0.2);
      border-radius: 10px;
      font-weight: 500;
      font-size: 16px;
      text-align: center;
      color: #FF9162;
      border: none;
      margin: auto;
      display:block;
    }
  }
  .place-notice{
    font-size: 16px;
    font-weight: 700;
  }