@mixin typosettings($fontsize, $color) {
  font-family: 'Spoqa Han Sans Neo', 'Sans-serif';
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  font-size: $fontsize;
  color: $color;
}
$color-light-grey: #8a8a8a;
$color-dark: #3e382f;
$color-gray-2: #c4c4c4;
$color-background-gray: rgba(51, 51, 51, 0.5);
$color-orange: #ffab6f;
.login {
  position: relative;
  display: flex;
  background-color: #f3efea;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  &-back {
    position: absolute;
    top: 60px;
    left: 24px;
  }
  &-header {
    @include typosettings(20px, $color-dark);
    margin-top: 54px;
  }
  &-description {
    @include typosettings(14px, $color-light-grey);
    margin-top: 14px;
    white-space: pre-line;
    text-align: center;
  }
  &-button {
    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    width: 88vw;
    margin-top: 70px;
    height: 56px;
    text-align: center;
    border-radius: 56px;
    background-color: $color-gray-2;
    border: none;
    color: white;
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.05);
    &.active {
      background-color: #4d483d;
    }
  }
  &-input {
    font-size: 16px;
    &.bitmargin {
      margin-top: 14px;
    }
    &::placeholder {
      color: #8a8a8a;
      font-size: 16px;
      font-weight: 300;
    }
  }
}
