.home-background {
  width: 100%;
  height: 100%;
  background: #f3efea;
  padding-bottom: 50px;
  font-style: normal;
  .reservation-places {
    display: flex;
    overflow-x: scroll;
  }
  .travel-preparation {
    padding: 15% 5% 10% 5%;
    line-height: 18px;
    color: #3e382f;
    &-text {
      font-weight: 600;
      font-size: 20px;
      line-height: 18px;
      color: #3e382f;
    }
    &-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 15px;
      column-gap: 20px;
      font-weight: 500;
      font-size: 3vw;
      padding: 8% 0 0 0;
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 4.2vh;
        border: 1px solid #e8e2dc;
        box-sizing: border-box;
        border-radius: 28px;
        background-color: #ffffff;
      }
    }
  }
  .main-header-text {
    padding: 10% 0 5% 5%;
    font-weight: 600;
    font-size: 18px;
    color: #3e382f;
  }
  .recommended-places-text {
    padding: 15% 0 5% 5%;
    font-weight: 700;
    font-size: 24px;
    color: #3e382f;
  }
  .editor-container {
    display: flex;
    overflow-x: scroll;
    margin-left: 5%;
    .editor-thumbnail {
      padding-right: 30px;
      img {
        width: 70vw;
        height: 324px;
        border-radius: 5px;
      }
      &-subtext {
        position: absolute;
        height: 18px;
        left: 12%;
        bottom: 19%;
        font-weight: 500;
        font-size: 3vw;
        color: #ffffff;
      }
      &-name {
        position: absolute;
        height: 18px;
        left: 12%;
        bottom: 15%;
        font-weight: 700;
        font-size: 5vw;
        color: #ffffff;
      }
    }
  }
}

.home-reservation-info {
  font-size: 18px;
  font-weight: 700;
  color: #3e382f;
  margin: 5vw;
}

.delgo {
  width: 33vw;
  margin: 5vw;
  margin-top: 65px;
}
