.reservation{
    text-align: center;
    position: relative;
    padding-top: 15%;
    color: #FFFFFF;
    font-style: normal;
    img{
        width: 90%;
        border-radius: 5px;
        margin-bottom: 10%;
    }
    &-place-name{
        position: absolute;
        left:7%;
        top: 30%;
        font-family: 'Noto Sans';
        font-weight: 700;
        font-size: 4.5vw;
        line-height: 18px;        
        color: #FFFFFF;
    }
    &-deadline{
        position: absolute;
        right: 10%;
        top: 30%;
        font-family: 'Roboto';
        font-weight: 600;
        font-size: 4.5vw;
        line-height: 18px;        
        color: #FFFFFF;
    }
    &-date{
        position: absolute;
        left:7%;
        top: 37%;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 3vw;
        line-height: 18px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
    }
    &-stay-time{
        display: flex;
        position: absolute;
        left:7%;
        top: 44%; 
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 3vw;   
        color: #FFFFFF;
        .reservation-check-in{
            padding-right: 1.5em;    
        }
    }
    &-information{
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 3vw;
        line-height: 18px;
        text-decoration-line: underline;
        &-address{
            position: absolute;
            left: 10%;     
            bottom: 20%;
        }
        &-inquiry{
            position: absolute;
            left: 35%;
            bottom: 20%;
        }
        &-change{
            position: absolute;
            left: 55%;
            bottom: 20%;
        }
        &-cancel{
            position: absolute;
            left: 80%;
            bottom: 20%;
        }
    }
}
.travel-preparation{
    padding: 5% 0 5% 5%;
    font-family: 'Roboto';
    line-height: 18px;
    color: #3E382F;
    &-text{
        font-family: 'Roboto';
        font-weight: 600;
        font-size: 4.5vw;
        line-height: 18px;
        color: #3E382F;
    }
    &-list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 15px;
        column-gap: 20px;
        font-weight: 500;
        font-size: 3vw;
        padding: 8% 0 12% 0;
        div{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 4.2vh;
            border: 1px solid #E8E2DC;
            box-sizing: border-box;
            border-radius: 28px;
            background-color: #FFFFFF;
        }
    }
}
.recommended-places-around-reserved-place{
    display: flex;
    align-items: center;
    height: 173px;
    background: #FFFBF6;
    padding-left: 7%;
    img{
        width: 100px;
        height: 100px;
    }
    .recommended-places-information-around-reserved-place{
        padding-left: 5%;
        height: 50%;
        .recommended-places-name-around-reserved-place{
            font-family: 'Noto Sans';
            font-weight: 700;
            font-size: 3.5vw;
            color: #6E614D;
        }
        .recommended-places-loaction-around-reserved-place{
            font-family: 'Roboto';
            font-weight: 500;
            font-size: 3vw;
            line-height: 18px;
            color: #AD9E87;
        }
        .recommended-places-review-around-reserved-place{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 144.86px;
            height: 52px;
            background: #8f8181;
            border-radius: 12px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: -0.05em;
            color: #6E614D;
            box-shadow: 1px 1px 1px #6E614D;
            padding: 5px 5px;
        }
        .recommended-places-review-around-reserved-place:after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            border: 13px solid transparent;
            border-right-color: #8f8181;
            border-left: 0;
            margin-top: -13px;
            margin-left: -13px;
            // transform: rotate(-90deg);
        }
    }
}