.travel-history-container{
    height: 100%;
    .travel-history-number{
        display: flex;
        align-items: center;
        height: 70px;
        color: #3E382F;
        font-weight: 700;
        font-size: 16px;
        padding-left: 5%;
    }
    .travel-history-notice{
        text-align: center;
        color:#3E382F;
        &-main{
            font-size:6vw;
            font-weight: 700;
            padding-top: 20%;
        }
        &-sub{
            font-size:4vw;
            font-weight: 300;
            padding: 2% 0 15% 0;
        }
    }

}