.travel-history-container{
    height: 100%;
    .travel-history-profile{
        display: flex;
        align-items: center;
        height: 40vw;
        color: #3E382F;
        font-weight: 400;
        padding-left: 15%;
        &-image{
            width: 24vw;
            height: 24vw;
        }
        &-figures{
            padding-left: 12%;
            font-size: 4vw;
            &-days{
                padding-bottom: 5%;
            }
        }
    }
    .travel-history-notice{
        text-align: center;
        color:#3E382F;
        &-main{
            font-size:6vw;
            font-weight: 700;
            padding-top: 20%;
        }
        &-sub{
            font-size:4vw;
            font-weight: 300;
            padding: 2% 0 15% 0;
        }
    }

}