.place{
    width: 86vw;
    padding-bottom: 12%;
    margin: auto;
    position: relative;
    img{
        width: 86vw;
        height:275px;
        border-radius: 5px 5px 0px 0px;
    }
    &-info{
        height: 60px;
        margin-top: -3px;
        padding-top: 5%;
        background-color: #FFFBF6;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);
        border-radius: 0px 0px 5px 5px;
        &-first-line{
            display: flex;
            justify-content: space-between;
            padding: 0 10% 0 5%;
            color: #B0A69D;
            font-size: 14px;
        }
        &-second-line{
            display: flex;
            justify-content: space-between;
            padding: 0 6% 0 5%;
            color: #3E382F;
            font-weight: bold;
            font-size: 18px;
        }
    }
    &-heart{
        position: absolute;
        top: -5px;
        right: -10px;
        -webkit-tap-highlight-color : rgba(0,0,0,0)
    }
}