.reservation-button {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: #3e382f;
  color: #ffffff;
  font-size: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 10;
  font-weight: 700;
  font-size: 18px;
}
