.room{
    width: 86vw;
    padding-bottom: 12%;
    text-align: center;
    margin-left: 5%;
    position: relative;
    img{
        width: 90vw;
        height: 25vh;
    }
    &-info{
        margin-top: -3px;
        position: relative;
        width: 90vw;
        height: 75px;
        background-color: #FFFBF6;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);
        &-first-line{
            display: flex;
            justify-content: space-between;
            padding: 0 5%;
            &-name{
                font-size: 18px;
                font-weight: 700;
                color: #4D483D;
            }
            &-max{
                font-size: 12px;
                color: #8A8A8A;
                padding-top: 7px;
            }
        }
        &-second-line{
            .check-in-check-out-time{
                position: absolute;
                left :5%;
                bottom: 18px;
                font-weight: 500;
                font-size: 12px;
                color: #8A8A8A;
            }
            .room-price{
                position: absolute;
                right :5%;
                bottom: 13px;
                color: #3E382F;
                font-weight: bold;
                font-size: 18px;
            }
        }
    }
    &-heart{
        position: absolute;
        top: -5px;
        right: -10px;
    }
}