.wished-place{
    text-align: center;
    position: relative;
    img{
        width: 100%;
        border-radius: 5px;
        margin-bottom: 10%;
    }
    &-name{
        position: absolute;
        left: 3%;
        bottom: 25%;
        font-weight: bold;
        font-size: 4.5vw;
        color: #FFFFFF;
    }
    &-location{
        position: absolute;
        left: 4%;
        bottom: 20%;
        font-size: 2vw; 
        color: #FFFFFF;
    }
    &-heart{
        position: absolute;
        top: -5px;
        right: -10px;
    }
}