.travel-history-container{
    height: 100%;
    .travel-history-number{
        display: flex;
        align-items: center;
        height: 70px;
        color: #3E382F;
        font-weight: 700;
        font-size: 16px;
        padding-left: 5%;
    }
    .travel-history-notice{
        text-align: center;
        color:#3E382F;
        &-foot-print{
            padding-top: 70px;
        }
        &-main{
            font-size:24px;
            font-weight: 700;
            padding-top: 15px;
        }
        &-sub{
            font-size:16px;
            padding: 5px 0 50px 0;
            font-weight: 400;
            color: #B0A69D;
        }
    }

}