.detail-place-review-page-header{
    padding : 45px 0 20px 5%;
    margin-bottom: 60px;
    border-bottom: 3px solid #E8E2DC;;
    font-weight: bold;
    color: #3E382F;
    &-previous-page{
        padding-bottom: 30px;
    }
    &-number{
        font-size: 24px;
        padding-bottom: 5px;
    }
    &-rating-count{
        font-size: 16px;
        padding-bottom: 25px;
    } 
    &-image-review{
        padding-left: 5px;
        font-size: 16px;
    }
    input[type="checkbox"] {
        accent-color: #FF9162;
    }
}