@import '../SignUpPage.scss';
@mixin font($weight,$size){
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: 150%;
  color: $color-dark;
}

.wrapper {
  margin: 46px 34px;
  max-height: 60vh;
  overflow: scroll;
}
.title {
  width: 63vw;
  @include font(700,16px);
}
.description {
  margin-top: 25px;
  white-space:pre-line;
  @include font(400,12px);
}
