@import '../SignUpPage.scss';
@mixin typobold {
  color: #474747;
  font-weight: 700;
  font-style: normal;
  font-family: 'Spoqa Han Sans Neo';
  font-size: 14px;
  line-height: 150%;
}
.login {
  &-terms {
    width: 91vw;
    margin-top: 30px;
    background-color: white;
    border-radius: 7px;

    &-item {
      position: relative;
      margin: 25px 20px;
      & input {
        cursor: pointer;
        position: relative;
        top: 2px;
        margin-right: 18px;
      }
      &-label {
        display: flex;
        align-items: center;
        color: $color-light-grey;
        font-weight: 400;
        font-style: normal;
        font-family: 'Spoqa Han Sans Neo';
        font-size: 14px;
        line-height: 150%;
      }
      &-button {
        position: absolute;
        cursor: pointer;
        right: 12px;
        top: 3.5px;
        color: $color-gray-2;
        font-weight: 400;
        font-style: normal;
        font-family: 'Spoqa Han Sans Neo';
        font-size: 14px;
        line-height: 150%;
      }
    }
    &-all {
      width: 91vw;
      margin-top: 41px;
      &-wrapper {
        margin: 0 20px;
      }
      & input {
        cursor: pointer;
        position: relative;
        top: 2px;
        margin-right: 18px;
      }
      & label {
        display: flex;
        align-items: center;
        @include typobold;
      }
    }
  }
  &-button.term {
    position: relative;
    margin-top: 40px;
  }
  &-detail {
    margin: 0 auto 0 0;
    padding: 39px 54px;
    top: 10px;
    & input {
      margin-right: 18px;
    }
    &-label {
      display: flex;
      align-items: center;
      &-input {
        display: none;
      }
      &-input + span {
        display: inline-block;
        position: relative;
        width: 26px;
        height: 26px;
        border-radius: 100%;
        border: 1px solid #c4c4c4;
        background-color: white;
        margin-left: 7px;
        margin-right: 13px;
      }
      &-input:checked + span::before {
        content: '';
        position: absolute;
        width: 26px;
        height: 26px;
        border: 1px solid #ff9162;
        top: -1px;
        left: -1px;
        border-radius: 100%;
        background-color: #ff9162;
      }
      &-icon {
        position: absolute;
        z-index: 9999;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
.checkbox {
  &-input {
    display: none;
  }
  &-input + span {
    display: inline-block;
    position: relative;
    width: 26px;
    height: 26px;
    border-radius: 100%;
    border: 1px solid #c4c4c4;
    background-color: white;
    margin-left: 7px;
    margin-right: 13px;
  }
  &-input:checked + span::before {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    border: 1px solid #ff9162;
    top: -1px;
    left: -1px;
    border-radius: 100%;
    background-color: #ff9162;
  }
  &-icon {
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
