@import "../SignUpPage.scss";
@mixin typobold {
  color: #474747;
  font-weight: 700;
  font-style: normal;
  font-family: "Noto Sans";
  font-size: 14px;
  line-height: 19px;
}
.login {
  &-terms {
    width: 91vw;
    margin-top: 15px;
    background-color: white;
    border-radius: 7px;

    &-item {
      position: relative;
      margin: 25px 20px;
      & input {
        cursor: pointer;
        position: relative;
        top: 2px;
        margin-right: 18px;
      }
      &-label {
        color: $color-light-grey;
        font-weight: 400;
        font-style: normal;
        font-family: "Roboto";
        font-size: 13px;
        line-height: 15px;
      }
      &-button {
        position: absolute;
        cursor: pointer;
        right: 12px;
        top: 3.5px;
        color: $color-gray-2;
        font-weight: 400;
        font-style: normal;
        font-family: "Roboto";
        font-size: 12px;
        line-height: 14px;
      }
    }
    &-all {
      width: 91vw;
      margin-top: 41px;
      &-wrapper {
        margin: 0 20px;
      }
      & input {
        cursor: pointer;
        position: relative;
        top: 2px;
        margin-right: 18px;
      }
      & label {
        @include typobold;
      }
    }
  }
  &-button.term {
    position: relative;
    margin-top: 40px;
  }
  &-detail {
    margin: 0 auto 0 0;
    padding: 39px 54px;
    top: 10px;
    & input {
      margin-right: 18px;
    }
    &-label {
      @include typobold;
    }
  }
}
