.recommended-places{
    text-align: center;
    position: relative;
    margin: 0% 5%;
    img{
        width: 100%;
        border-radius: 5px;
        margin-bottom: 10%;
    }
    &-name{
        position: absolute;
        left: 4%;
        bottom: 27%;
        font-weight: bold;
        font-size: 18px;
        color: #FFFFFF;
    }
    &-location{
        position: absolute;
        left: 4%;
        bottom: 20%;
        font-size: 12px; 
        color: #FFFFFF;
    }
    &-heart{
        position: absolute;
        top: 20px;
        right: 15px;
    }
}