.detail-place {
  z-index: 1;
  color: #3e382f;
  padding-bottom: 50px;
  &.close {
    display: none;
  }
  &-main-image {
    width: 100%;
    height: 375px;
  }
  &-previous-page {
    position: absolute;
    top: 40px;
    left: 25px; 
  }
  &-heart {
    position: absolute;
    top: 20px;
    right: 15px;
    -webkit-tap-highlight-color : rgba(0,0,0,0)
  }
  &-info {
    padding-left: 5%;
    &-name {
      padding: 30px 0 10px 0;
      font-size: 24px;
      font-weight: bold;
    }
    &-address {
      padding-bottom: 10px;
      font-size: 14px;
      font-weight: bold;
    }
    &-map {
      color: #ad9e87;
      font-weight: 100;
      padding-left: 15px;
    }
    &-reviews {
      padding-bottom: 20px;
      font-size: 14px;
      color: #6e614d;
    }
    &-facility {
      padding-bottom: 30px;
      font-size: 14px;
      color: #6e614d;
    }
  }
  &-reservation-date-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // width: 80vw;
    height: 49px;
    background-color: #ffffff;
    color: #3e382f;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 100px 0;
    padding: 0 5%;
    border-radius: 5px;
    &-calender {
      margin-right: 15px;
    }
  }
  &-room-select {
    padding-left: 5%;
    &-header {
      font-size: 24px;
      font-weight: bold;
      padding-bottom: 20px;
    }
  }
  &-review {
    padding-top: 100px;
    &-header {
      display: flex;
      justify-content: space-between;
      padding: 0 5% 60px 5%;
      &-number {
        font-size: 24px;
        font-weight: bold;
      }
      &-more {
        color: #B0A69D;
        font-weight: 500;
        font-size: 16px;
      }
    }
  }
  &-facility {
    padding: 0 0 100px 5%;
    font-size: 24px;
    font-weight: bold;
    &-header {
      padding-bottom: 30px;
    }
    &-image-container {
      display: flex;
      justify-content: space-between;
      overflow-x: scroll;
    }
  }
  &-notice,
  &-base-information,
  &-additional-personnel-information,
  &-cancellation-refund-policy,
  &-etc {
    padding: 0 5% 100px 5%;
    font-size: 24px;
    font-weight: bold;
    &-header {
      padding-bottom: 30px;
    }
  }
  &-map {
    margin-bottom: 100px;
    &-header {
      padding: 0 0 30px 5%;
      font-size: 24px;
      font-weight: bold;
    }
  }
}
.room-type-skeleton{
  margin: 0 5% 12% 5%;
}
.pageSlider-entering {
  opacity: 0;
  transform: translate3d(50%, 0,0);
  animation-name: slidein 4s 1s;
  
}
// ease-out
.pageSlider-entered {
  opacity: 1;
  transform: translate3d(0, 0,0);
  transition: all 400ms;
  animation-name: slidein 4s 1s;
}

.pageSlider-exiting {
  opacity: 1;
  transform: translate3d(0, 0,0);
}

.pageSlider-exited {
  opacity: 0;
  transition: all 400ms;
}


////////////////////////////

.pageSlider2-entering {
  opacity: 0;
  transform: translate3d(-50%, 0,0);
  animation-name: slidein 4s 1s;
  
}

.pageSlider2-entered {
  opacity: 1;
  transform: translate3d(0, 0,0);
  transition: all 400ms;
  animation-name: slidein 4s 1s;
}

.pageSlider2-exiting {
  opacity: 1;
  transform: translate3d(0, 0,0);
}

.pageSlider2-exited {
  opacity: 0;
  transition: all 400ms;
}