body {
  margin: 0;
  font-family: 'Spoqa Han Sans Neo';
  background-color: #f3efea;
  -webkit-tap-highlight-color : rgba(0,0,0,0);
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('./fonts/SpoqaHanSansNeo-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('./fonts/SpoqaHanSansNeo-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('./fonts/SpoqaHanSansNeo-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('./fonts/SpoqaHanSansNeo-Bold.ttf');
  font-weight: 700;
}
