.region-selection-modal-region-name-selected{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 88px;
    height: 45px;
    background: #6E614D;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
    color: #FFFFFF;
  }
.region-selection-modal-region-name{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 88px;
    height: 45px;
    color: #474747;
  }