.findpassword-selectbox {
  margin: 44px;
  width: 80%;
  padding: 26px;
  border-radius: 5px;
  background-color: #fffbf6;
  display: flex;
  align-items: center;
  &-circle {
    background-color: #ff9162;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    margin-right: 26px;
  }
  &-label {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }
}

.login-input-feedback {
  margin: 5px 20px;
  font-size: 14px;
  line-height: 21px;
  color: #ff9162;
}
