@import '../signUpPage/SignUpPage.scss';

@mixin buttonstyle($back, $font) {
  width: 90vw;
  height: 61px;
  border: none;
  background-color: $back;
  box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $font;
}
.login {
  &-title {
    margin-top: 103px;
    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 126.19%;
    color: #4d483d;
  }
  &-kakao {
    margin-top: 93px;
    display: flex;
    align-items: center;
    @include buttonstyle(#ffef5a, #474747);
  }
  &-naver {
    margin-top: 10px;
    display: flex;
    align-items: center;
    @include buttonstyle(#45d156, #ffffff);
  }
  &-apple {
    margin-top: 10px;
    display: flex;
    align-items: center;
    @include buttonstyle(#292929, #ffffff);
  }
  &-button.signup {
    position: relative;
    margin-top: 70px;
  }
  &-login {
    margin-top: 24px;
    background: none;
    @include typosettings(16px, #4d483d);
    font-weight: 700;
    border: none;
  }
}

.icon {
  width: 24px;
  height: 24px;
  margin-left: 60px;
  margin-right: 40px;
}


a{
  text-decoration: none;
}