.birth {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 335px;
  height: 272px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  &-years {
    width: 93px;
  }
  &-months {
    width: 60px;
  }
  &-days {
    width: 60px;
  }
  &-divider{
    width: .1px;
    background-color: #8A8A8A;
    height: 60%;
  }
}
.tab {
  height: 210px;
  overflow: scroll;
  &::-webkit-scrollbar{
    display: none;
  }
}
.birth-item {
  height: 30px;
  color: #c4c4c4;
  &.selected {
    color: black;
  }
  &.blank {
    color: white;
  }
}
