@import "../SignUpPage.scss";
.petinfo-image {
  position: relative;
  margin-top: 27px;
  &-input {
    display: none;
  }
  &-preview {
    background-color: #e8e2dc;
    border-radius: 100%;
    width: 28vw;
    height: 28vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &-label {
    display: block;
    position: absolute;
    bottom: 0;
    right: -9px;
    width: 41px;
    height: 41px;
    border-radius: 100%;
    background-color: white;
  }
  &-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.login-input {
  &-wrapper {
    width: 88vw;
    display: flex;
    justify-content: space-between;
  }
  &.petname {
    margin-top: 28px;
  }
  &.input-birth {
    margin-top: 38px;
    width: 51%;
    display: inline;
  }
  &.input-weight {
    margin-top: 38px;
    width: 42%;
    display: inline;
  }
}
.dogtype {
  position: relative;
  margin-top: 18px;
  display: flex;
  &-help {
    width: 28px;
    height: 28px;
    margin-right: 8px;
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 700;
    text-align: center;
    background-color: #e8e2dc;
    border-radius: 100%;
  }
  &-input {
    display: none;
  }
  label {
    display: flex;
    align-items: center;
    line-height: 150%;
    font-weight: 500;
    color: #8A8A8A;
  }
  &-input + span {
    display: inline-block;
    position: relative;
    width: 26px;
    height: 26px;
    border-radius: 100%;
    background-color: white;
    margin-left: 15px;
    margin-right: 7px;
  }
  &-input:checked + span::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    top: 6px;
    left: 6px;
    border-radius: 100%;
    background-color: #4d483d;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}
.modal {
  position: fixed;
  top: 30vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  overflow: hidden;
}
